default: &default
  adapter: mysql2
  host: localhost
  username: ????
  password: ????

development:
  <<: *default
  database: url_shortener_challenge_dev

production:
  <<: *default
  database: url_shortener_challenge_prod
