<h1>Update Redirect</h1>

<div class="container">
  <%= form_for @url do |f| %>
    <div class="forms">
      <%= render partial: "redirects/partials/form", locals: {f:f} %>
    </div>
  <% end %>
</div>
